<%= form_for([@case, @round]) do |f| %>
    <%= render 'shared/error_messages', object: @round %>

    <%= f.hidden_field :case_id, value: params[:case_id] %>

    <% if @case.opp_choice? %>
      <%= f.label :side_id, "Side the Gov defended", class: "block" %>
      <%= f.select :side_id, @side_options %>
    <% end %>

    <div class="block">
       <%= f.label :win? %>
       <%= f.check_box :win %>
    </div>
    <br>

    <div class="block">
      <%= f.label :tight_call? %>
      <%= f.check_box :tight_call %>
    </div>
    <br>

    <%= f.label :team_speaks %>
    <%= f.number_field :speaks, class: "form-control", step: 0.25 %>

    <%= f.label :who_saw_the_round? %>
    <%= f.text_field :viewers_list, class: "form-control",
                             placeholder: "Comma-separated list of names" %>

    <%= f.label :members_list, "Who ran the case?" %>
    <%= f.text_field :members_list, class: "form-control",
                            placeholder: "Comma-separated list of the names of you and your partner" %>

    <%= f.label :reason_for_decision %>
    <%= f.text_area :rfd, class: "form-control" %>

    <%= f.submit "Submit", class: "btn btn-primary form-button case-button" %>
<% end %>
