<%= form_for @case do |f| %>
  <%= render 'shared/error_messages', object: @case %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= render 'picker', f: f %>
  <br><br>
  <%= f.label :link, "Or paste a link to the case" %>
  <%= f.text_field :link, class: "form-control", id: "link" %>

  <%= f.label :case_statement %>
  <%= f.text_area :case_statement, class: "form-control" %>

  <%= f.radio_button :visibility, 0 %>
  <%= f.label :visibility, 'Personal: Only you can view it.', value: 0 %>
  <%= f.radio_button :visibility, 1 %>
  <%= f.label :visibility, 'Closed: Only users who submitted cases can view it', value: 1 %>
  <%= f.radio_button :visibility, 2 %>
  <%= f.label :visibility, 'Open: Anyone with an account can use it', value: 2 %>

  <%= f.label :topics %>
  <%= f.text_field :topic_list, class: "form-control",
                   placeholder: "Comma-separated list of topics" %>
    <%= f.label :opp_choice? %>
    <%= f.check_box :opp_choice, class: "opp-choice-checkbox" %>

    <div id="sides">
      <%= f.fields_for :sides do |builder| %>
        <%= builder.label :name, "Side Name" %>
        <%= builder.text_field :name, class: "form-control" %>
      <% end %>
    </div>

  <%= f.submit "Submit", class: "btn btn-primary form-button case-button" %>
<% end %>
