<% provide(:title, @case.title) %>


<div class="row">
  <div class="col-md-12">
    <h1 id="case-title"><%= @case.title %></h1>
    <div class="btn-group">
        <%= link_to "View", @case.link, target: "_blank",
                    class: "btn btn-default" %>
        <%= link_to "Edit", edit_case_path(@case),
                    class: "btn btn-default" %>
        <%= link_to "Delete", @case, class: "btn btn-default",
                    method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

    <br/><br/>

    <p><b>Case statement: </b><%= @case.case_statement %></p>
    <p><b>Opp choice?</b> <%= @case.opp_choice? ? "Yes" : "No" %></p>
    <br/>
    <br/>

  </div>
</div>
