<%= form_for @search do |f| %>

  <%= render 'shared/error_messages', object: @search %>
  <%= f.label :keywords %>
  <%= f.text_field :keywords, class: "form-control" %>

  <div class="row">
    <div class="col-md-3">
      <%= f.label :min_speaks, "Minimum average speaks" %>
      <%= f.number_field :min_speaks, step: 'any', class: "form-control num-filter" %>
    </div>

    <div class="col-md-3">
      <%= f.label :min_wins, "Minimum win percentage" %>
      <%= f.number_field :min_wins, step: 'any', class: "form-control num-filter" %>
    </div>

    <div class="col-md-3">
      <%= f.label :min_tight_call, "Minimum tight call percentage" %>
      <%= f.number_field :min_tight_call, step: 'any', class: "form-control num-filter" %>
    </div>

    <div class="col-md-3">
      <%= f.label :max_tight_call, "Maximum tight call percentage" %>
      <%= f.number_field :max_tight_call, step: 'any', class: "form-control" %>
    </div>
  </div>

      <%= f.label :including_topics_list, "Includes topics" %><br>
      <%= f.text_field :including_topics_list, class: "form-control" %>

      <%= f.label :excluding_topics_list, "Excludes topics" %><br>
      <%= f.text_field :excluding_topics_list, class: "form-control"  %>

      <%= f.label :excluding_viewers_list, "Not seen by" %><br>
      <%= f.text_field :excluding_viewers_list, class: "form-control"  %>


    <a class="btn btn-default search-toggle search-cntrls">Hide</a>

    <%= f.submit "Search", class: "btn btn-primary search-cntrls" %>
<% end %>
