<div class="row">
  <div class="col-md-16 index-controls">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button"
      data-toggle="dropdown">
        Order By <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Average speaks", sort: "average_speaks DESC" %></li>
        <li><%= link_to "Win percentage", sort: "win_percentage DESC" %></li>
        <li><%= link_to "Tight calls (most frequent first)",
                        sort: "tight_call_percentage DESC" %></li>
        <li><%= link_to "Tight calls (least frequent first)",
                         sort: "tight_call_percentage ASC" %></li>
      </ul>
    </div>
    <button class="btn btn-default search-toggle">Advanced Search</button>
  </div>
</div>
<div class="row">
  <div class="col-md-16" id="search-form">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'shared/advanced_search' %>
      </div>
    </div>
  </div>
</div>
