<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="logo">
        <%= link_to cases_path do %>
            <%= image_tag 'logo.png' %>
            <span>Casebook</span>
        <% end %>
    </div>
    <nav>
      <% if logged_in? %>
          <ul id="logged-in-header">
            <li><%= link_to "Cases", cases_path %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <li><%= link_to "", new_case_path, class: "glyphicon glyphicon-plus" %></li>
          </ul>
      <% else %>
          <ul id="not-logged-in-header">
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
          </ul>
      <% end %>
    </nav>
  </div>
</header>